@inject IEmployeeService employeeService 

<tr>
    <td>@Employee.FirstName</td>
    <td>@Employee.LastName</td>
    <td>@Employee.Gender</td>
    <td>@(Employee.Fired ? "Yes":"")</td>
    <td>
        @if (!Employee.Fired)
        {
            <a href="javascript:void(0) " @onclick="HandleFire">
                Fire
            </a>
        }
    </td>
</tr>

@code
{
    [Parameter]
    public Employee Employee { get; set; }

    private async void HandleFire()
    {
        await employeeService.Fire(Employee.Id);
    }
}
