@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="container">
    <div class="row">
        <img asp-append-version="true" alt="Logos" scr="images/logo.png" style="max-width: 100%"/>
        <div class="col-md-10">
            <span class="h3">Three Blazor</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Body
        </div>
    </div>
</div>
